@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.embla {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.embla__viewport{
  width: 100%;
}
.embla__container {
  display: flex;
}
.embla__slide {
  min-width: 0;
}
