@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .bg-grid {
        background-image: linear-gradient(
                hsla(0, 0%, 100%, 0.02) 1px,
                transparent 0
            ),
            linear-gradient(90deg, hsla(0, 0%, 100%, 0.02) 1px, transparent 0);
        background-size: 20px 20px;
        background-repeat: repeat space;
    }
    .grid-stack {
        grid-template-areas: "stack";
    }
    
    .grid-stack > * {
        grid-area: stack;
    }
    .grid-auto-13rem {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
    .grid-2-13rem {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
}
.embla {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.embla__viewport {
    width: 100%;
}
.embla__container {
    display: flex;
}
.embla__slide {
    min-width: 0;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.simplebar-scrollbar:before {
    background: white !important;
}